*{
	padding:0;
	margin:0;
}

body {
  width: 100%;
  height: 100%;
	font-family: 'Lato', sans-serif; 
  color: #666;
  background-color: #fff;
	font-size: 16px;
  line-height: 1.6em;
	overflow-x: hidden;
	font-weight: 300;
	letter-spacing: .1rem;
}

html {
    width: 100%;
    height: 100%;
} 
.text-description {
	font-size: 1.rem;
	padding: 8rem 2rem 0rem;
}


a:hover,
a:focus {
    text-decoration: none;
    color: #c83539;
}
a {
  color: #c83539;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

.bg-home { 
	background: url("../images/gaby7.jpg") no-repeat center; 
  background-size: cover; 
  height: 91vh;
	padding: 0;
}
.centrar {
	display: flex;
	justify-content: center;
	align-items: center;
}
.overlay {
	background-color:rgba(40, 29, 29, 0.7);
	height: 100%;
	width: 100%;
	margin: 0;
}
.title {
	color: #FDFDFD;
	font-family: 'Expletus sans', sans-serif;
	font-weight: 300;
	font-size: 5rem;
	letter-spacing: .1rem;
}
.subtitle {
	color:rgb(174, 174, 174);
	font-size: 1.5rem;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: .3rem;
}

  
  @keyframes draw {
	90% {
	  stroke-dashoffset: 0;
	  stroke-width: 2;
	  fill-opacity: 0;
	}
	100% {
	  stroke-width: 0;
	  fill-opacity: 1;
	}
  }
  
/* Navigation  */
.fa-bars {
	color: white;
}
#navigation {
	background-color: rgb(31, 21, 21);
	font-family: 'Lato', sans-serif;
	z-index: 1400;
	width:100%;
	box-sizing:border-box;
  /* padding: .1rem; */
  color: white;
  height: 10vh;
  transition: .5s all ease;
}
.change {
	position:fixed;
	top: 0;
  z-index:1000;
  right: 0px;
  left: 0px;
}
.navbar {
    margin-bottom: 0;
}
.nav.navbar-nav {
    background-color: transparent;
}

.navbar-custom.top-nav-collapse .nav.navbar-nav {
    background-color: rgba(0,0,0,0);
}

.navbar-custom ul.nav li a {
	font-size: 1.5rem;
	letter-spacing: 1px;
  color:white;
	text-transform: uppercase;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}

.navbar-custom.top-nav-collapse ul.nav li a {
	    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	color: #fff;
}

.navbar-custom ul.nav ul.dropdown-menu {
	  border-radius: 0;	
	margin-top: 21px;
	border-top: none;
}

.navbar-custom ul.nav li a:hover ul.dropdown-menu {
	    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.navbar-custom ul.nav ul.dropdown-menu li:last-child{
	border-bottom: none;
}

.navbar-custom ul.nav ul.dropdown-menu li a {
  padding: 10px 20px;
  font-family: 'Expletus Sans', sans-serif;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
  background: #fefefe;
}

.navbar-custom.top-nav-collapse ul.nav ul.dropdown-menu li a {
	color: #666;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:hover {
    background-color: transparent;
    border-bottom: 2px solid #c83539;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}
.titleSection {
	font-family: 'Lato', sans-serif;
	color: #c83539;
	text-transform: uppercase;
	font-size: 1.8rem;
	font-weight: 900;
	margin-bottom: 2rem;
	display: inline-block;
}
.subtitleSection {
	font-family: 'Lato', sans-serif;
	color: rgb(193, 191, 191);
	font-size: 3rem;
	font-weight: 100;
	text-transform: uppercase;
	/* margin: 2rem 0; */
}
.titleSection2 {
	font-family: 'Lato', sans-serif;
	color: white;
	text-transform: uppercase;
	font-size: 1.8rem;
	font-weight: 900;
	margin-bottom: 2rem;
	display: inline-block;
}
.subtitleSection2 {
	font-family: 'Lato', sans-serif;
	color: rgba(255, 255, 255, 0.377);
	font-size: 3rem;
	font-weight: 100;
	text-transform: uppercase;
}
.divider-header2 {
	display: block;
	width: 50px;
	height: 3px;
  margin: 0 auto;
  background-color: white;
}
.carita {
  color: rgb(134, 134, 134);
  font-weight: 700;
  font-size: 2rem;
}
.btn-cv {
	border: 2px solid #c83539;
	padding: 1.5rem;
	transition: .5s;
	font-weight: 300;
	/* letter-spacing: .1rem; */
	color: #c83539;
	font-weight: 400;
	display: inline-block;
	margin: 5rem 0 2rem 2rem;

}
.btn-cv:hover {
	background-color: #c83539;
	color: white;
}
.btncv {
	padding-right: 3px;
}

/* misc */
hr {
  margin-top: 10px;
}

hr.bold {
  border-top: 3px solid #eee;
}
.divider-header {
	display: block;
	width: 50px;
	height: 3px;
  margin: 0 auto;
  background-color: #c83539;
}
.divider-header-works {
  display: block;
	width: 40px;
	height: 2px;
	margin: 0 auto;
  margin-bottom: 10px;
  background-color: #c83539;
}
.home-section {
	padding: 100px 0;
	display:block;
    position:relative;
    z-index:120;
}

.home-section.nopadd-bot {
  padding-bottom: 110px;
}

.section-heading p {
  font-family: 'Rajdhani', sans-serif !important;
}


.bg-white {
	background: #fff;
}

.bg-gray {
  background:white;
}

.intro {
	width:100%;
	position:relative;
  padding:0;
  height: 90vh;
}
.brand-heading {
    font-size: 40px;
}

/* TOOLS */
#tools {
  background-color: #c83539;
}

.list-group {
  padding: 9rem 3rem 0 3rem;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
  z-index: 2;
  color: white;
  font-weight: 700;
  background-color: transparent;
  border-color: white;
}

/*  Works */

.item {
    margin: 10px;
}

.item img {
    display: block;
    width: 100%;
    height: auto;
}

/* contact */
.pad-icon {
  margin-top: 2rem;
  padding: 0 2rem;
}
.spancreado {
width: 1rem;
outline: 1px solid red;
}
/* Footer */

footer {
  background-color: rgb(119, 116, 116);
}

footer {
	padding: 30px 0 30px ;
}
.datos {
  color: rgb(119, 116, 116);
  font-weight: 300;
  padding: .2rem 0;
}
.btn-contact {
	border: 2px solid #c83539;
	padding: 1.5rem;
	transition: .5s;
	font-weight: 300;
	/* letter-spacing: .1rem; */
	color: #c83539;
	font-weight: 400;
	display: inline-block;
	margin: 5rem 0 0 2rem;
}

.btn-contact:hover {
  background-color: #c83539;
	color:white;
}
footer .copyright {
  color: white;
  text-transform: uppercase;
	font-size: 14px;
}

/* Media queries */

@media(min-width:767px) {

    .navbar {
        /* padding: 20px 0; */
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .intro {
        height: 100%;
        padding: 0;
    }

    .brand-heading {
        font-size: 100px;
    }
}
@media (max-width:768px) {

.navbar-toggle {
    position: relative;
		float: right;
		color: white;
    /* margin-right: 15px; */
    /* padding: 9px 10px; */
    /* margin-top: 8px; */
    /* margin-bottom: 8px; */
    background-color: transparent;
    /* background-image: none; */
    border: 1px solid transparent;
		/* border-radius: 4px; */
		font-size: 14px;
		margin: 0;
}
	.service-box {
		margin-bottom: 50px;
	}
	
	.team-wrap {
		margin-bottom: 30px;
	}
	
	.xs-marginbot-20 {
		margin-bottom: 20px;
	}

  .navbar-custom .nav li a:focus,
  .navbar-custom .nav li a:hover {
    background-color: rgb(216, 216, 216);
    border-bottom: none;
}

	.navbar-custom .nav.navbar-nav {
	background-color:rgb(244, 244, 244);
	/* margin-top: 5rem; */
	padding: 0;
	}
	.navbar-custom ul.nav li a {
		color:white;
	}
}

@media (max-width:480px) {

  .title {
    font-size: 3.2rem;
	}
	.subtitle {
		font-size: 1.5rem;
    color: rgb(196, 196, 196);
    text-transform: uppercase;
    letter-spacing: .3rem;
    position: relative;
		margin: 0;
	}
	.bg-home { 
		height: 80vh;
	}
	/* ====== agregados para el cel ===*/
	.works-content {
		max-width: 1160px;
		margin: -23.4rem auto 0 auto;
		padding: 3rem;
	}
}


/* estilos prueba  */

/* ===================================================================
 * # works
 *
 * ------------------------------------------------------------------- */
 .s-works {
  background: #FFFFFF;
  padding: 0 0 15rem 0;
  min-height: 800px;
	position: relative;
	text-align: center;
	margin: auto 0;
}

.s-works .intro-wrap {
  padding: 15rem 0 25.2rem;
  background: #c83539;
}

.works-content {
  max-width: 1160px;
	margin: -23.4rem auto 0 auto;
	padding: 8rem;
}


/* ------------------------------------------------------------------- 
* ## bricks/masonry
* ------------------------------------------------------------------- */
.masonry:after {
  content: "";
  display: table;
  clear: both;
}

.masonry .grid-sizer, .masonry__brick {
	width: 50%;
	/* background-position: center; */
}

.masonry__brick {
  float: left;
  padding: 0;
}

.item-folio {
  position: relative;
  overflow: hidden;
}

.item-folio__thumb img {
  vertical-align: bottom;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.item-folio__thumb a {
  display: block;
}

.item-folio__thumb a::before {
  display: block;
  background-color: rgba(40, 29, 29, 0.9);
  content: "";
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}


.item-folio__thumb a::after {
  content: "+";
  font-family: georgia, serif;
  font-size: 5rem;
  font-weight: 100;
  display: block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  margin-left: -15px;
  margin-top: -15px;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  z-index: 1;
}

.item-folio__text {
  position: absolute;
  left: 0;
  bottom: 3.6rem;
  padding: 0 3.3rem;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.item-folio__title {
  font-family: "montserrat-semibold", sans-serif;
  font-size: 1.4rem;
  line-height: 1.286;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: .2rem;
  margin: 0 0 .3rem 0;
  text-align: left;
}

.item-folio__cat {
  color: rgba(255, 255, 255, 0.5);
  font-family: "montserrat-light", sans-serif;
  font-size: 1.4rem;
  line-height: 1.714;
  margin-bottom: 0;
  text-align: left;
}

.item-folio__caption {
  display: none;
}

.item-folio__project-link{
  display: block;
  color: #FFFFFF;
  box-shadow: 0 0 0 1px #FFFFFF;
  /* font-size: 1.5rem; */
  /* border-radius: 50%; */
  /* height: 4.2rem;
  width: 4.2rem; */
  text-align: center;
  z-index: 1600;
  position: absolute;
  top: 3rem;
  left: 3rem;
  padding: .8rem 1rem .8rem;
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  -ms-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.item-folio__demo{
  color: white;
  border: 1px solid white;
  padding: 1rem 1.5rem;
  margin: 4rem 0;
  display: inline-block;
  transition: all .5s ease;
}

.item-folio__demo:hover {
  background-color: #FFFFFF;
  color: #000000;
}

/* .item-folio__project-link p {
  font-size: 1.8rem;
  line-height: 4.2rem;
} */

.item-folio__project-link::before {
  display: block;
  content: "";
  height: 3rem;
  width: 1px;
  background-color:white;
  position: absolute;
  top: -3rem;
  left: 50%;
  z-index: 1000;
}

.item-folio__project-link:hover,
.item-folio__project-link:focus,
.item-folio__project-link:active {
  background-color: #FFFFFF;
  color: #000000;
}


/* on hover 
 * ----------------------------------------------- */
 .item-folio:hover .item-folio__thumb a::before {
  opacity: 1;
  visibility: visible;
}

.item-folio:hover .item-folio__thumb a::after {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.item-folio:hover .item-folio__thumb img {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.item-folio:hover .item-folio__project-link,
.item-folio:hover .item-folio__text {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}


/* ------------------------------------------------------------------- 
 * responsive:
 * works
 * ------------------------------------------------------------------- */
@media only screen and (max-width: 800px) {
    .item-folio__title, .item-folio__cat {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 600px) {
    .s-works {
				padding-bottom: 12rem;
    }
    .s-works .intro-wrap {
        padding: 12rem 0 25.2rem;
    }
    .masonry__brick {
        float: none;
        width: 100%;
    }
    .item-folio__title, .item-folio__cat {
        font-size: 1.4rem;
		}
		.works-content {
			margin-top: -25.2rem;
			/* max-width: 1160px; */
			margin: -23.4rem auto 0 auto;
			padding: 3rem;
		}
}

/* animate .home-content__main
 * ------------------------------------------------------------------- */
 html.cl-preload .home-content__main {
  opacity: 0;
}

html.cl-loaded .home-content__main {
  animation-duration: 2s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

html.no-csstransitions .home-content__main {
  opacity: 1;
}

/* ------------------------------------------------------------------- 
 * ## home animations
 * ------------------------------------------------------------------- */


/* fade in */

@-webkit-keyframes fadeIn {
  from {
      opacity: 0;
      -webkit-transform: translate3d(0, 150%, 0);
      -ms-transform: translate3d(0, 150%, 0);
      transform: translate3d(0, 150%, 0);
  }
  to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  from {
      opacity: 0;
      -webkit-transform: translate3d(0, 150%, 0);
      -ms-transform: translate3d(0, 150%, 0);
      transform: translate3d(0, 150%, 0);
  }
  to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
}


/* fade out */

@-webkit-keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
      -webkit-transform: translate3d(0, -150%, 0);
      -ms-transform: translate3d(0, -150%, 0);
      transform: translate3d(0, -150%, 0);
  }
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
      -webkit-transform: translate3d(0, -150%, 0);
      -ms-transform: translate3d(0, -150%, 0);
      transform: translate3d(0, -150%, 0);
  }
}